@import "../../assets/stylesheets/index.scss";

.tag {
  padding: 0 5px;
  border-radius: 5px;
  &-primary {
    border: 2px solid $border-color-success;
    color: $text-color-third;
  }
  &-danger {
    border: 2px solid $border-color-danger;
    color: $text-color-danger;
  }
  &-default {
    border: 2px solid $border-color-default;
    color: $text-color-second;
  }
  &:hover {
    cursor: pointer;
  }
}
