@import "../../../assets/stylesheets/index.scss";

.container {
  @include container;
}

.homepage__title {
  text-align: left;
  color: $text-color-primary;
  font-size: 60px;
  margin: 0 auto 20px;
}

.homepage__button {
  display: flex;
  justify-content: end;
  text-shadow: $text-shadow;
  margin-bottom: 30px;
}
