@import "../../assets/stylesheets/index.scss";

input.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 14px;
  border: 1px solid $border-color-default;
  border-radius: 8px;
  &-file {
    display: none;
  }
}
