@import "../../../assets/stylesheets/index.scss";

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
  .form__label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: $text-color-primary;
  }
  .error-message {
    color: $text-color-danger;
    font-size: 14px;
    margin: 5px;
    margin-bottom: 0;
  }
}
