@import "../../assets/stylesheets/index.scss";

.btn {
  padding: 10px 30px;
  border: none;
  font-size: 14px;
  border-radius: 8px;
  &-primary {
    background-color: $bg-color-success;
    color: $bg-color-base;
  }
  &-danger {
    background-color: $bg-color-danger;
    color: $bg-color-base;
  }
  &-default {
    background-color: transparent;
    color: $text-color-primary;
    border: $border-color-default 1px solid;
  }
  &-text {
    background-color: transparent;
    color: $text-color-primary;
  }
  &-icon {
    display: flex;
    gap: 6px;
  }
  &:hover {
    border-color: none !important;
    cursor: pointer;
  }
}

.btn__upload {
  &-large {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex: 1;
    flex-direction: column;
    gap: 12px;
  }
  &-small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 6px;
    padding: 10px;
  }
}

.button-add {
  border: 1px solid $border-color-success;
  color: $text-color-third;
  border-radius: 3px;
}
