@import "../../assets/stylesheets/index.scss";

.toast {
  &__title {
    text-align: left;
    color: $text-color-primary;
  }
  &__content {
    text-align: left;
    color: $text-color-second;
  }
}

.toast__icon {
  
}
