@import "../../assets/stylesheets/index.scss";

.modal {
  box-shadow: $box-shadow;
  border-radius: 10px;
  padding: 16px;
  max-width: 400px;
  background-color: $bg-color-base;
  &__header {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 24px;
    .title {
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 18px;
      color: #00072b;
    }
  }
  &-open {
    display: block;
  }
  &-hidden {
    display: none;
  }
  .icon-close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .group__button__modal {
    display: flex;
    gap: 8px;
    .btn {
      flex: 1;
    }
  }
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  background-color: #0e0e0f58;
  z-index: 99999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
