.modal {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.166);
  border-radius: 10px;
  padding: 16px;
  min-width: 400px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 24px;
    .title {
      padding: 0;
      margin: 0;
      font-weight: bold;
      font-size: 18px;
    }
  }
}
