@import "../../assets/stylesheets/index.scss";

.table__products {
  margin: auto;
  border-collapse: collapse;
  width: 100%;
  color: $text-color-primary;
  .table__header {
    border-bottom: 2px solid $border-color-default;
  }
  .table__row.row-header {
    text-align: left;
  }
  .table__row.row-body {
    border-bottom: 2px solid $border-color-default;
    padding: 10px 0;
    text-align: left;
  }
  .product {
    display: flex;
    align-items: center;
    gap: 10px;
    &__image {
      width: 50px;
      height: 50px;
    }
    &__name {
      margin: 0;
    }
  }
}
