@import "../../../../../assets/stylesheets/index.scss";

.group__button__detail {
  margin-top: 50px;
  .btn {
    flex: 1;
  }
}

.title {
  color: $text-color-primary;
  text-align: left;
}

.content {
  display: flex;
  gap: 50px;
}
